[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = {extras = ["hiredis"], version = "*"}
gunicorn = "==20.1.0"
hiredis = "==2.0.0"
Flask = "==1.1.2"
asyncio = "*"

[dev-packages]

[requires]
python_version = "3.9"
